@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FB6B6B;
  font-family: 'Recursive';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
p, h1{
  color: #333333;
}

.index-page {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recall-page{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-page-logo, .recall-page-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-page-logo {
  flex-direction: column;
}

.index-page h1, .recall-page-logo h1 {
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}

.index-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-page button {
  margin-top: 30px;
  border: 1px solid #D70900;
  width: 246px;
  min-width: 100%;
  height: 54px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #D70900;
  font-size: 20px;
  cursor: pointer;
  transition: 250ms ease;
}

.index-page button:hover {
  background-color: #D70900;
  color: #ffffff;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  width: 300px;
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 100ms;
  font-size: 20px;
}

.question ion-icon {
  width: 24px;
  height: 25px;
  color: #333333;
  cursor: pointer;
}

.question p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.question:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.question-info {
  width: 300px;
  height: auto;
  min-height: 80px;  
  background: #FFFFD5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px 15px 10px 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.flip-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
}

.flip {
  width: 30px;
  height: 20px;
}

.state-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  
}

.state {
  width: 86px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease;
  cursor: pointer;
}
.state p {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.danger {
  background: #FF3030;
}
.danger:hover {
  background-color: rgba(255,48,48, 0.7);
}
.attention {
  background: #FF922E;
}
.attention:hover {
  background-color: rgba(255,146,46, 0.7);
}
.success {
  background-color: #2FBE34;
}
.success:hover {
  background-color: rgba(47,190,52, 0.7);
}

.question .state-danger {
  color: #FF3030;
  text-decoration: line-through #FF3030 2px;
}

.question .state-attention {
  color: #FF922E;
  text-decoration: line-through #FF922E 2px;
}

.question .state-success {
  color: #2FBE34;
  text-decoration: line-through #2FBE34 2px;
}
.question-info:last-child {
  margin-bottom: 30px;
}

.men {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: 300px;*/
  margin: 0 auto;
}

footer {
  width: 100%;
  min-height: 70px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 10px 0;
}

.rodape-resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape-resultado h1 {
  font-weight: 700;
  margin-top: 16px;
}

.rodape-resultado p {
  text-align: center;
  margin: 14px auto;
  width: 220px;
}

.icon-looseness > *{
  margin: 0 3px 10px 3px;
}